OPENAI_API_KEY=your_openai_api_key_here
OPENAI_MODEL=gpt-4.1-mini
OPENAI_URL=https://api.openai.com/v1

# DATABASE_URL=postgresql+psycopg2://postgres:your_password@127.0.0.1:5432/cognion_db

DATABASE_USER=postgres
DATABASE_PASSWORD=your_database_password_here
DATABASE_HOST=127.0.0.1
DATABASE_PORT=5432
DATABASE_NAME=cognion_db

PDF_STORAGE_DIR=./storage/papers
